:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #f16e03;
}
body {
  margin: 0;
  /* 시스템 폰트 스택 */
  /* 어떤 OS에서 보든 가장 자연스러운 시스템 폰트로 보여지도록 만들어주는 설정 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* 글자 안티앨리어싱(부드럽게 렌더링) 옵션. */
  /* 크롬, 사파리에서 글자 깔끔하게 */
  -webkit-font-smoothing: antialiased;
  /* 파이어폭스(macOS)에서 글자 부드럽게 */
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #807ae4;
  background: linear-gradient(
    106deg,
    rgba(81, 87, 111, 1) 19%,
    rgba(60, 61, 69, 1) 100%
  );
}

#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg-dark);
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 11px 12px 5px -6px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 11px 12px 5px -6px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 11px 12px 5px -6px rgba(0, 0, 0, 0.48);
}

/* <code>: 개발자용 코드 폰트(고정폭 폰트)로 보여라 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
}
